@import "../../_globalColor";

.skills-main-div {
  max-width: 90%;
  width: 90%;
  margin-top: 1rem;
}

.skills-text-div {
  width: 100%;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }

  .skills-text {
    font-size: 22px;
    line-height: 29px;
    margin: 8px 0;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }

  .skills-main-div {
    flex-direction: column;
  }

  .skills-text-div {
    margin: 0px 10px;
  }

  .skills-text {
    font-size: 20px;
    line-height: 26px;
    margin: 6px 0;
  }

  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
