
.education-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media (max-width: 1380px) {
  .education-card-container {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .education-card-container {
    padding-top: 0px;
  }
}
