@import "../../_globalColor";

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: -4rem;
}

/* Media Query */

@media (max-width: 1380px) {
  .contact-detail,
  .contact-detail-email,
  .contact-subtitle {
    font-size: 22px;
    line-height: 29px;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-image-div {
    display: none;
  }
}

@media (max-width: 768px) {
  .contact-detail,
  .contact-detail-email,
  .contact-subtitle {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-image-div {
    display: none;
  }
}
