@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.footer-div {
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.footer-div .dark-mode a {
  color: $textColorDark !important;
}
